<nav class="admin-nav" th:fragment="nav">
  <div class="brand">Polaris Admin</div>

  <!-- ${path} 는 NavModelAdvice 가 넣어준 현재 URI -->
  <ul>
    <li>
      <a th:href="@{/admin/overview}"
         th:classappend="${#strings.startsWith(path, '/admin/overview')} ? ' active' : ''">
        Overview
      </a>
    </li>
    <li>
      <a th:href="@{/admin/customers}"
         th:classappend="${#strings.startsWith(path, '/admin/customers')} ? ' active' : ''">
        고객사 관리
      </a>
    </li>
    <li>
      <a th:href="@{/admin/users}"
         th:classappend="${#strings.startsWith(path, '/admin/logs')} ? ' active' : ''">
        로그 관리
      </a>
    </li>
        <li>
      <a th:href="@{/admin/secuone}"
         th:classappend="${#strings.startsWith(path, '/admin/secuone')} ? ' active' : ''">
        시큐원 관리
      </a>
    </li>
    <li>
      <a th:href="@{/admin/settings}"
         th:classappend="${#strings.startsWith(path, '/admin/settings')} ? ' active' : ''">
        설정
      </a>
    </li>
  </ul>

  <ul>
    <li><a th:href="@{/logout}">로그아웃</a></li>
  </ul>
</nav>
